<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Path to Targetprocess instance. -->
    <add key="TargetProcessPath" value="https://julia.tpondemand.com" />
    <!-- Login for smb who has access to attachment. -->
    <add key="AdminLogin" value="admin" />
    <!-- Password for smb who has access to attachment. -->
    <add key="AdminPassword" value="admin" />
    <!-- Path to directory where uploading attachments are stored. -->
    <add key="FilePath" value="D:\Temp\Sample Files\" />
    <!-- File name to upload content from. -->
    <add key="FileName" value="report.jpg" />
    <!-- Request id to attach uploaded file to. -->
    <add key="RequestId" value="1565" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>