<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TargetProcessPath" value="https://julia.tpondemand.com" />
    <add key="AdminLogin" value="admin" />
    <add key="AdminPassword" value="admin" />
    <add key="FilePath" value="d:\Temp\sample files\" />
    <add key="FileName" value="report.jpg" />
    <add key="RequestId" value="1565" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>